@import './variable';

body{
    background-color: $background-color;
    font-weight: map-get($fonts, small);
    color: $text-color;
    padding: 1rem;
    margin: 3 rem;
}

h1{
    color: $heading-text-color;
    text-align: center;
    text-decoration: wavy;

    &:hover{
        color: tomato;
        text-decoration: underline;
        cursor: pointer;
    }
}

.main {
    padding: 0.9rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(16, 68, 236);

    #{&}_paragraph{
        font-weight: map-get($fonts, medium);
    }
  
    
  }
